.imagenCart {
    width: 7em !important;
    margin-top: 1em;
}

.padreTr {
    display: flex;
    flex-direction: row;
}

 .marginCarts {
   
    text-align: center;
}

.marginTh {
   
    text-align: center;
} 

.linkQuc {
    text-decoration: none;
    color: white
}
.linkQuc:hover {
    color:rgb(204, 200, 195)
}