.carritoFondo {
    background: rgb(214, 207, 207);
    background: linear-gradient(176deg, rgb(212, 204, 204) 3%, rgb(188, 188, 189) 90%);
}



.aviso {
    padding-bottom:4.7em;
    margin-bottom: 9.2em;
    font-size: 2.1em;
   
}


.linkQuc {
    color: black;
}

.linkQuc:hover {
    color: rgb(29, 26, 26) !important;
}

.itemscard {
align-items: center;
}


.cartStyle {
    margin-left: 11em;
    margin-top: 1.2em;
}

.cartFoto {
    margin-left: 21em;
    max-width: 15.2em;
}

.buttonsCart {
   font-weight: bold;
}