.detail {
    height: 80%;
   width: 26.2em;
    margin-top: 2.7em;
    margin-left: 1.7em;
    border-width:3px !important;
    border-color:black !important; 
   border-style:solid !important;
}

.fotoDetail {
   
    max-width: 25.2em;
}