.cardStyle {
    height: 26em;
   width: 20.2em;
    margin-top: 2.7em;
    margin-left: 1.7em;
    border-width:3px !important;
    border-color:black !important; 
   border-style:solid !important;
}

.cardFoto {
    margin-left: 2.3em;
    max-width: 15.2em;
}

.cartas {
    box-shadow: 0 0.1em 0.1em 0 white;
    transition: all 2s ease;
    }
    
    .cartas:hover {
    box-shadow: 5px 1px 3px white;
    transform: translateY(-3%);
    }

.card-body {
    background-color: black;
}

.borderCard {
    border-bottom: 1px solid #dee2e6!important;
}

.c--white {
    color: white !important;
}

.backButton {
    background-color: rgb(153, 151, 148) !important;
}

.backButton:hover {
    background-color: blueviolet !important;
}


.btn-primary {
    font-weight: bold;
    color: black !important;
    border-color: black !important;
}